// Config -----------------------------------
@syntax-hue: 228;
@syntax-saturation: 13%;
@syntax-brightness: 19%;

@dark-gray: #212733;
@almost-white: #fffbed;
@yellowish: #d7ac5e;
@blueish-gray: #929a96;
@orange: #d46b2d;
@light-orange: #d6a379;
@dirty-water: #cfc4ac;
@blue: #62a4c3;
@green: rgb(27, 166, 57);
@red: rgb(180, 47, 11);

// Monochrome -----------------------------------
@mono-1: @almost-white; // default text
@mono-2: @dirty-water;
@mono-3: @blueish-gray;

// Colors -----------------------------------
@hue-1: @almost-white; // <-cyan
@hue-2: @dirty-water; // <-blue
@hue-3: @orange; // <-purple
@hue-4: @yellowish; // <-green

@hue-5: lighten(@blue, 10%); // <-red 1
@hue-5-2: @blue; // <-red 2

@hue-6: @yellowish; // <-orange 1
@hue-6-2: @light-orange; // <-orange 2

// Base colors -----------------------------------
@syntax-fg: @almost-white;
@syntax-bg: @dark-gray;
@syntax-gutter: darken(@syntax-fg, 36%);
@syntax-guide: fade(@syntax-fg, 15%);
@syntax-accent: @orange;
