@dark-gray: #212733;
@almost-white: #FFFBED;
@dark-maroon: #58493A;
@light-maroon: #9E5F3E;
@blueish-gray: #929A96;
@orange: #D46B2D;
@light-orange: #D6A379;
@dirty-water: #CFC4AC;
@blue: #62A4C3;
@green: rgb(27, 166, 57);
@red: rgb(180, 47, 11);
